pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Files_Present",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "check_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Need_to_load",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Files_Present",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "need_load",
					"value": {
						"value": "@concat(\n    '[', \n    join(\n        union(\n            if(contains(string(activity('Files_Present').output.childItems), 'Customer_Data.csv'), createArray(''), createArray('\"Customer_Data\"')),\n            if(contains(string(activity('Files_Present').output.childItems), 'Product_Data.csv'), createArray(''), createArray('\"Product_Data\"'))\n        ), ', '\n    ),\n    ']'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iterate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Need_to_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(variables('need_load'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Static",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Git_DS",
									"type": "DatasetReference",
									"parameters": {
										"file_name": "@concat(item(), '.csv')"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_ds",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LastLoadedQuarter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Iterate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "NextQuarter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastLoadedQuarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NextQuarter",
					"value": {
						"value": "@concat(\n    if(equals(substring(activity('LastLoadedQuarter').output.value[0].LastLoadedQuarter, 5, 2), 'Q4'),\n        string(add(int(substring(activity('LastLoadedQuarter').output.value[0].LastLoadedQuarter, 0, 4)), 1)),\n        substring(activity('LastLoadedQuarter').output.value[0].LastLoadedQuarter, 0, 4)\n    ), '_Q',\n    if(equals(substring(activity('LastLoadedQuarter').output.value[0].LastLoadedQuarter, 5, 2), 'Q4'),\n        '1',\n        string(add(int(substring(activity('LastLoadedQuarter').output.value[0].LastLoadedQuarter, 6, 1)), 1))\n    )\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iterate2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "NextQuarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LastLoadedQuarter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Streaming",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "git_DS2",
									"type": "DatasetReference",
									"parameters": {
										"Folder_name": "@item().DatasetName",
										"Next_Quarter": {
											"value": "@variables('NextQuarter')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_ds",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Update_Quarter",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Iterate2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[INCR_LOAD]",
					"storedProcedureParameters": {
						"next_load": {
							"value": {
								"value": "@variables('NextQuarter')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sql_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SCM_Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Update_Quarter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/bibekprusti@gmail.com/Supply_Chain_Management/SCM (Silver)"
				},
				"linkedServiceName": {
					"referenceName": "databricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SCM_Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SCM_Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/bibekprusti@gmail.com/Supply_Chain_Management/SCM (Gold)"
				},
				"linkedServiceName": {
					"referenceName": "databricks_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"need_load": {
				"type": "String"
			},
			"NextQuarter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}